.ipynb_checkpoints/
__pycache__/
*.pdf
*.png
data/
.DS_Store
interpolation/result/pgw_01.pt
interpolation/pgw_01_1000.pt
interpolation/result/gw_01_0_1000.pt
interpolation/result/pgw_01_0_1000.pt
interpolation/noise_p0_point_cloud_500.npy
interpolation/noise_p0_point_cloud_1000.npy
interpolation/noise_p5_point_cloud_500.npy
interpolation/noise_p5_point_cloud_1000.npy
interpolation/noise_p10_point_cloud_500.npy
interpolation/noise_p10_point_cloud_1000.npy
interpolation/noise_u0_point_cloud_1000.npy
interpolation/noise_u0_point_cloud_2000.npy
interpolation/noise_u5_point_cloud_1000.npy
interpolation/noise_u5_point_cloud_2000.npy
interpolation/noise_u10_point_cloud_1000.npy
interpolation/noise_u10_point_cloud_2000.npy
interpolation/noise_0_point_cloud_1000.npy
interpolation/noise_p1_5_point_cloud_1000.npy
interpolation/noise_p1_10_point_cloud_1000.npy
interpolation/noise_p2_5_point_cloud_1000.npy
interpolation/noise_p2_10_point_cloud_1000.npy
interpolation/result/gw_01_p1_5_1000.pt
interpolation/result/gw_01_p1_10_1000.pt
interpolation/result/gw01_p1_5_1000.pt
interpolation/result/gw01_p1_10_1000.pt
interpolation/result/gw01_p2_5_1000.pt
interpolation/result/gw01_p2_10_1000.pt
interpolation/result/pgw_01_p1_5_1000.pt
interpolation/result/pgw_01_p1_10_1000.pt
interpolation/result/pgw01_p1_5_1000.pt
interpolation/result/pgw01_p1_10_1000.pt
interpolation/result/pgw01_p2_5_1000.pt
interpolation/result/gw01_p2_10_1000.pt
interpolation/result/pgw01_p2_10_1000.pt
interpolation/results/gw01_p1_5_1000.pt
interpolation/results/gw01_p1_10_1000.pt
interpolation/results/gw01_p2_5_1000.pt
interpolation/results/gw01_p2_10_1000.pt
interpolation/results/pgw01_p1_5_1000.pt
interpolation/results/pgw01_p1_10_1000.pt
interpolation/results/pgw01_p2_5_1000.pt
interpolation/result/gw01_p2_10_1000.pt
